body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.glyph {
    position: absolute;
}

#cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#sidebar {
    height: calc(100vh - 16px);
    width: 120px;
    position: fixed;
    background-color: rgb(124, 137, 143);
    overflow-y: scroll;
}
