body {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.glyph {
    position: fixed;
    border-radius: 8px;
    padding: 5px;
    border: 8px groove rgba(0,0,0,0);
}

.selected {
    border-color: lightblue;
}

#cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#sidebar {
    height: calc(100vh - 16px);
    width: 136px;
    position: fixed;
    background-color: rgb(124, 137, 143);
    overflow-y: scroll;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebarGlyph {
    position: relative;
}

#bincover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 25, 25);
    border-radius: 8px;
}

.button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 3px;
}

#info-selector {
    position: fixed;
    right: 5;
    bottom: 5;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fe0606;
    font-size: 30px;
    text-decoration: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(213, 126, 254, 0.7);
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    padding: 1em 2em;
    border-radius: 4px;
}

.modal:target {
    display: flex;
}